body {
  height:4000px;
  /* background-color: black; */
  margin:10px;
}
.hr {
  margin-top: 40px;
  width:100%;
  border: 1px solid black;
}
.hrB{
  margin-bottom: 40px;
  border: 1px solid black;
  width:100%;
}
.PageTitle{
  font-weight: bold;
  font-size:60px;
  color:#3c5c82
}
.PageSubTitle{
  font-family: "Verdana";
  font-weight: bold;
  font-size:35px;
  color:#3c5c82;
}
.PageSubSubTitle{
 
  font-family: "Verdana";
  font-size:80%;
  color:#3c5c82;
}
.container{
  position: relative;
  top:80px;
}


.navbar{
  z-index: 999;
  width: 100%;
  background-color: #F5F5F5;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
}
.navbar-brand{
  margin-left: 1.2rem;
  
}
.nav-logo{
  height: 4rem;
  width: 16rem;
}
.navbar-toggler{
  margin-right: 1rem;
}
.navbar-collapse{
  color: aliceblue;
  margin-left: 1.2rem;
  text-align: center;
}
#navbarSupportedContent{
  margin-right: 3rem;
}
.nav-item{
  padding-left: 1rem;
}
.nav-link{
font-size: 1.3rem;
font-weight: 600;
}
.home-container{
/* position: absolute; */
height: 100vh;

}
.home-img{
opacity: 0.8;
width: 100%;
height: 100%;
}
.home-con0{
width: 50%;
height: 100%;
position: absolute;
display: flex;
top: 0px;
background-color: transparent;
background: rgba(0, 0, 0, 0.3);
}
.home-con1{
width: 90%;
position: absolute;
display: flex;
text-align: left;
top: 25vh;
margin-left: 5vw;
color: aliceblue;
padding-left: 10px;
border-left: 7px solid #fff;
}
.name{
font-size: 5.5vw;
}
.after-name{
font-size: 1.7em;
}
/* .Container{
  padding:10px;
  margin-right: 15px;
  margin-left:15px;
  border: 2px solid black;
  margin-top:20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
} */
.Image{
  width:20%;
}
.Descriptions{
  width: 75%;
}
.LinkColor {
  color:black;
}
.fa{
  margin-right: 5px;
}