body{
  height:4000px;
  background-color:black;
  margin:10px;
}
.hr {
  margin-top: 40px;
  width:100%;
  border: 1px solid black;
}
.hrB{
  margin-bottom: 40px;
  border: 1px solid black;
  width:100%;
}
.PageTitle{
  font-weight: bold;
  font-size:60px;
  color:#3c5c82
}
.PageSubTitle{
  font-family: "Verdana";
  font-weight: bold;
  font-size:35px;
  color:#3c5c82;
}
.PageSubSubTitle{
 
  font-family: "Verdana";
  font-size:80%;
  color:#3c5c82;
}
.container{
  position: relative;
  top:80px;
}
.stocksContent{
 
  /* height: 600px; */
  margin-top: 30px;
  margin-left:30px;
  /* border: 2px solid black; */
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  padding: 10px;
}
.addStocks{
  padding: 10px;
  width:30%;
  display:flex;
  align-items: center;
  justify-content:left;

}
.stockList{
  
  padding: 10px;
  width:40%;
}
.Stocks{
  width:100%;
 
}
#AddStocks{
  
  box-sizing: border-box;
  margin-top:20px;
  padding:15px;
  width:100%;
  background-color: #F5F5F5;
  box-shadow:  0px 0px 5px 3px rgb(172, 172, 172);
}
#AddStocksList{
  font-size:30px;
  height: 600px;
  padding: 10%;
  box-sizing: border-box;
  background-color: #F5F5F5;
  margin-top:20px;
  width:100%;
  border-radius: 10px;
  box-shadow:  0px 0px 5px 5px rgb(172, 172, 172);
  display: flex;
  flex-direction: column;
}
.FormGroup{
 
  display:flex;
  font-size:15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Input{

  height:25px;
  
  margin-left: 10px;
  /* border-radius: 5px; */
}
.Addbtn {
  padding: 7px 28px;
  font-size:15px;
  background-color: #8FC4DB;
  border: 0px;
}
.stockView{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:30px;
}
.Checkibtn{
  padding:1% 6%;
  font-size: 0.9em;
  background-color:#B6C3DD;
  border:0px;
}
.CheckBtn:hover{
  /* background-color:#fff; */
  border:2px solid black;
}
.Company_Name{
  font-size:0.9em;
}
.ListHeaders{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.navbar{
  z-index: 999;
  width: 100%;
  background-color: #F5F5F5;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
}
.navbar-brand{
  margin-left: 1.2rem;
  
}
.nav-logo{
  height: 4rem;
  width: 16rem;
}
.navbar-toggler{
  margin-right: 1rem;
}
.navbar-collapse{
  color: aliceblue;
  margin-left: 1.2rem;
  text-align: center;
}
#navbarSupportedContent{
  margin-right: 3rem;
}
.nav-item{
  padding-left: 1rem;
}
.nav-link{
font-size: 1.3rem;
font-weight: 600;
}
.home-container{
/* position: absolute; */
height: 100vh;

}
.home-img{
opacity: 0.8;
width: 100%;
height: 100%;
}
.home-con0{
width: 50%;
height: 100%;
position: absolute;
display: flex;
top: 0px;
background-color: transparent;
background: rgba(0, 0, 0, 0.3);
}
.home-con1{
width: 90%;
position: absolute;
display: flex;
text-align: left;
top: 25vh;
margin-left: 5vw;
color: aliceblue;
padding-left: 10px;
border-left: 7px solid #fff;
}
.name{
font-size: 5.5vw;
}
.after-name{
font-size: 1.7em;
}
/* .Container{
  padding:10px;
  margin-right: 15px;
  margin-left:15px;
  border: 2px solid black;
  margin-top:20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
} */
.Image{
  width:20%;
}
.Descriptions{
  width: 75%;
}
.LinkColor {
  color:black;
}
.fa{
  margin-right: 5px;
}